:root {
  --ring: #6EE7F9;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(1200px 600px at 70% -10%, rgba(110, 231, 249, 0.08), transparent),
    radial-gradient(1000px 500px at 10% -20%, rgba(167, 139, 250, 0.08), transparent);
}
